# Core functionality - changes here should be rare!
/src/app.py                   @oluchiobuzo
/src/backend/database.py      @oluchiobuzo
/src/backend/routers/auth.py  @oluchiobuzo

# The frontend will need refactored soon to be more object oriented.
/src/static/   @oluchiobuzo
